<?xml version="1.0" ?>
<launch>
  <arg name="rviz" default="true"/>
  <arg name="sim_robot" default="true"/>
  <arg name="sim_gripper" default="true"/>
  <arg name="use_bswap" default="false"/>

  <!-- Define the overall environment without the robot(s) -->
  <param name="env_description"
     command="$(find xacro)/xacro --inorder $(find ceccrebot_demo_support)/urdf/multi_robot_demo_env.xacro"/>
  <node pkg="robot_state_publisher" type="state_publisher" name="env_pub">
      <remap from="robot_description" to="env_description"/>
  </node>

  <!-- Robot descriptions and planning nodes -->
  <group ns="abb">
    <include file="$(find ceccrebot_demo_support)/launch/abb_irb2400_setup.launch">
      <arg name="sim_robot" value="$(arg sim_robot)"/>
      <arg name="sim_gripper" value="$(arg sim_gripper)"/>
    </include>
    <!-- place robot in scene -->
    <!-- platform link defined in the env_description xacro file -->
    <node name="robot_base_publisher" pkg="tf" type="static_transform_publisher"
          args="0 0 0 0 0 0 cnc_platform_link abb_base_link 20" />
  </group>

  <group ns="ur">
    <include file="$(find ceccrebot_demo_support)/launch/ur10_setup.launch">
      <arg name="sim_robot" value="$(arg sim_robot)"/>
      <arg name="sim_gripper" value="$(arg sim_gripper)"/>
    </include>
    <!-- place robot in scene -->
    <!-- platform link defined in the env_description xacro file -->
    <node name="robot_base_publisher" pkg="tf" type="static_transform_publisher"
          args="0 0 0 0 0 0 cmm_platform_link ur_base_link 100" />
  </group>

  <!--
  <param name="tool_description" textfile="$(find mtconnect_example_launch)/urdf/mtconnect_m16ib20_demo_tool.urdf" />
  <node pkg="robot_state_publisher" type="state_publisher" name="tool_pub">
      <remap from="robot_description" to="tool_description"/>
  </node>
  -->

  <!-- Visualization -->
  <node if="$(arg rviz)" pkg="rviz" type="rviz" name="ceccrebot_viz"
        args="-d $(find ceccrebot_demo_support)/rviz/multi_robot_demo.rviz" />
</launch>
