<?xml version="1.0" ?>
<launch>
  <arg name="rviz" default="true"/>
  <arg name="sim_robot" default="true"/>
  <arg name="sim_gripper" default="true"/>
  <arg name="use_bswap" default="false"/>


  <group ns="ur">
    <include file="$(find ceccrebot_demo_support)/launch/ur10_in_scene_setup.launch">
      <arg name="sim_robot" value="$(arg sim_robot)"/>
      <arg name="sim_gripper" value="$(arg sim_gripper)"/>
    </include>
    <!-- place robot in scene -->
    <node name="robot_base_publisher" pkg="tf" type="static_transform_publisher"
          args="0 0 1.0414 0 0 0 world_frame ur_base_link 20" />
  </group>


  <!-- Visualization -->
  <node if="$(arg rviz)" pkg="rviz" type="rviz" name="ceccrebot_viz"
        args="-d $(find ceccrebot_demo_support)/rviz/single_robot_demo.rviz" />
</launch>
