<?xml version="1.0" ?>
<launch>
  <arg name="sim_robot" default="true"/>
  <arg name="sim_gripper" default="true"/>
  <arg name="robot_ip" if="$(arg sim_robot)"/>
  <arg name="gripper_ip" if="$(arg sim_gripper)"/>

  <param name="robot_description"
    command="$(find xacro)/xacro --inorder $(find ceccrebot_demo_support)/urdf/ur10_robot.urdf.xacro"/>
  <rosparam param="controller_joint_names" command="load"
            file="$(find ceccrebot_demo_support)/config/ur10_joint_names.yaml"/>

  <include file="$(find demo_ur10_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="false"/>
  </include>

  <include file="$(find demo_ur10_moveit_config)/launch/move_group.launch">
    <arg name="fake_execution" value="false" />
    <arg name="publish_monitored_planning_scene" value="true" />
  </include>

  <!-- Robot interfaces, real or simulated -->
  <group unless="$(arg sim_robot)">
  </group>

  <group if="$(arg sim_robot)">
    <include file="$(find industrial_robot_simulator)/launch/robot_interface_simulator.launch"/>
  </group>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>
