<?xml version="1.0"?>
<launch>
  <arg name="sim_robot" default="true"/>
  <arg name="robot_ip" unless="$(arg sim_robot)"/>

  <param name="robot_description"
    command="$(find xacro)/xacro --inorder $(find ceccrebot_demo_support)/urdf/ur10_in_scene.urdf.xacro"/>
  <rosparam param="controller_joint_names" command="load"
            file="$(find ceccrebot_demo_support)/config/ur10_joint_names.yaml"/>

  <include file="$(find demo_ur10_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="false"/>
  </include>

  <include file="$(find demo_ur10_moveit_config)/launch/move_group.launch">
    <arg name="fake_execution" value="false" />
    <arg name="publish_monitored_planning_scene" value="true" />
  </include>

  <!-- Robot interfaces, real or simulated -->

  <group unless="$(arg sim_robot)">
    <remap from="follow_joint_trajectory/status" to="joint_trajectory_action/status" />
    <remap from="follow_joint_trajectory/feedback" to="joint_trajectory_action/feedback" />
    <remap from="follow_joint_trajectory/result" to="joint_trajectory_action/result" />
    <remap from="follow_joint_trajectory/goal" to="joint_trajectory_action/goal" />
    <remap from="follow_joint_trajectory/cancel" to="joint_trajectory_action/cancel" />

    <include file="$(find ur_modern_driver)/launch/ur_common.launch">
      <arg name="prefix" value="ur_" />
      <arg name="robot_ip" value="$(arg robot_ip)" />
      <arg name="min_payload" value="1.0" />
      <arg name="max_payload" value="5.0" />
    </include>
  </group>

  <group if="$(arg sim_robot)">
    <rosparam param="initial_joint_state" command="load"
              file="$(find ceccrebot_demo_support)/config/ur10_initial_joint_states.yaml"/>

    <!-- industrial_robot_simulator: accepts robot commands and reports status -->
    <node pkg="industrial_robot_simulator" type="industrial_robot_simulator" name="industrial_robot_simulator"/>
    <!-- joint_trajectory_action: provides actionlib interface for high-level robot control -->
    <node pkg="industrial_robot_client" type="joint_trajectory_action" name="joint_trajectory_action"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  </group>
</launch>
