<?xml version="1.0"?>
<launch>
  <!--
  <node name="mtconnect_demo" pkg="ceccrebot_demo" type="mtconnect_demo.py">
    <rosparam command="load" file="$(find ceccrebot_demo)/config/mtconnect.yaml"/>
  </node>
  -->
  <group ns="abb">
    <node name="ceccrebot_demo_node" pkg="ceccrebot_demo" type="ceccrebot_demo_node">
      <rosparam command="load" file="$(find ceccrebot_demo)/config/ros.yaml"/>
    </node>
  </group>
</launch>
