<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="ur10">
  <!-- common stuff -->
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />

  <!-- ur10 -->
  <xacro:include filename="$(find ur_description)/urdf/ur10.urdf.xacro" />

  <!-- arm -->
  <xacro:ur10_robot prefix="ur_" joint_limited="false"/>

  <!-- Robotiq Gripper -->
  <xacro:include filename="$(find robotiq_s_model_visualization)/cfg/s-model_mesh_macro.xacro" />
  <xacro:s-model_mesh  prefix=""/>
  <joint name="EEjoint" type ="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.160"/>
    <parent link="ur_tool0"/>
    <child link="palm"/>
  </joint>

  <!-- environment -->
  <xacro:include filename="$(find ceccrebot_demo_support)/urdf/environment_macros.xacro" />
  <xacro:single_robot_demo_env root_frame_id="env_frame"/>
  <joint name="environment_jt" type ="fixed">
    <origin rpy="0 0 0" xyz="0 0 -1.0414"/>
    <parent link="ur_base_link"/>
    <child link="env_frame"/>
  </joint>

</robot>


